.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.column::-webkit-scrollbar {
    display: none;
}

.App{
    background: rgba(228, 228, 228, 0.937);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}